public enum Secrets {
    public enum Api {
        public enum Client {
            public static let keyV3Auth = "Place your Secrets here for v3 auth"
            public static let keV4Authy = "Place your Secrets here for v4 auth"
        }
        
        public enum Endpoint {
            public static let production = "api.com"
            public static let staging = "api.staging"
        }
    }
}
